<div class="otherPage">
    <h1>Names Greeted</h1>
<table>    
    <tr>
        <th>names</th>
        <th>counter</th>
    </tr>
{{#each result}}
    <tr>
        <td>
            <div class="reason">
       <b>     <a href='action/{{username}}'>{{username}}</b>
        </div></td>
        <td>
            <div class="reason">
            {{counter}}
            </div>
        </td>
    </tr>
{{/each}}
</table>
</div>