<table>
    <tr>
        <th>names</th>
        <th>counter</th>
    </tr>
{{#each result}}
    <tr>
        <td>
            <a href='action/{{username}}'>{{username}}
        </td>
        <td>
            {{counter}}
        </td>
    </tr>
{{/each}}
</table>